/* line 4, ../sass/signup-form.scss */
#block-hobbyswapbetasignupform .hs-betasignup {
  text-align: center;
  margin: 3em 20vw;
}
@media screen and (max-width: 1600px) {
  /* line 4, ../sass/signup-form.scss */
  #block-hobbyswapbetasignupform .hs-betasignup {
    margin: 3em 10vw;
  }
}
@media screen and (max-width: 1000px) {
  /* line 4, ../sass/signup-form.scss */
  #block-hobbyswapbetasignupform .hs-betasignup {
    margin: 3em 5vw;
  }
}
/* line 12, ../sass/signup-form.scss */
#block-hobbyswapbetasignupform .hs-betasignup .form-item {
  margin-top: 1em;
}
/* line 14, ../sass/signup-form.scss */
#block-hobbyswapbetasignupform .hs-betasignup .form-item label {
  text-align: left;
  display: block;
  font-size: 1.1em;
  font-weight: 550;
}
/* line 21, ../sass/signup-form.scss */
#block-hobbyswapbetasignupform .hs-betasignup .form-item-first-name, #block-hobbyswapbetasignupform .hs-betasignup .form-item-last-name {
  display: inline-block;
  width: 49.8%;
  margin: 0 auto;
}
