/* line 4, ../sass/hs-transactions.scss */
.region-content {
  position: relative;
}

/*Styling for transactions START*/
/* line 9, ../sass/hs-transactions.scss */
.hs--transaction {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8rem;
  border-right: 8px solid #F3F3F3;
  border-left: 8px solid #F3F3F3;
  border-radius: 0.4em;
  box-shadow: 2px 2px 4px grey;
}
/* line 18, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-header {
  row-gap: 1rem;
  margin: 1em 1.5em;
}
/* line 21, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-header .transaction-id {
  font-weight: 500;
  font-size: 1em;
  color: #B5B5B5;
  margin: 0;
}
/* line 27, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-header .transaction-members {
  width: fit-content;
  font-size: 1rem;
}
/* line 30, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-header .transaction-members div {
  width: fit-content;
  margin: 0;
  font-weight: bold;
}
/* line 34, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-header .transaction-members div a {
  color: #4888FF;
  padding: 0.5em 1em;
  border: 2px solid #F3F3F3;
  border-radius: 0.3em;
  transition: all 0.2s ease;
  text-decoration: none;
}
/* line 41, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-header .transaction-members div a:hover {
  background-color: #F3F3F3;
}
/* line 49, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body {
  padding: 0.75em;
}
/* line 51, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--requester-items {
  display: flex;
  flex-direction: column;
  padding: 1em 0.2em;
}
/* line 55, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--requester-items .requester-item--link:hover {
  text-decoration: none;
}
/* line 58, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--requester-items .offered {
  position: relative;
  font-size: 1.5em;
  font-weight: 400;
  color: white;
  margin: 0 1em;
  padding: 0.2em 1em;
  width: auto;
  background-color: #4888FF;
  border-radius: 0.3em 0.3em 0 0;
}
/* line 68, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--requester-items .offered a {
  color: white;
}
/* line 70, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--requester-items .offered a:hover {
  color: #B5B5B5;
}
/* line 75, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--requester-items .requester-item {
  display: flex;
  align-items: center;
  background-color: #F3F3F3;
  padding: 1em 0.5em;
  margin: 0 0.5em 1em 0.5em;
  border-radius: 0.3em;
  border-left: 6px solid #808080;
  transition: all 0.2s;
}
/* line 84, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--requester-items .requester-item:hover {
  box-shadow: 1px 1px 10px #B5B5B5;
  transform: translateY(-0.3em);
}
/* line 88, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--requester-items .requester-item .requester-item--image {
  position: relative;
  flex-basis: 30%;
  background-color: white;
  border: 1px solid #B5B5B5;
}
/* line 93, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--requester-items .requester-item .requester-item--image:before {
  content: '';
  display: block;
  padding-bottom: 100%;
}
/* line 98, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--requester-items .requester-item .requester-item--image .image-spacer {
  position: absolute;
  inset: 0;
}
/* line 101, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--requester-items .requester-item .requester-item--image .image-spacer img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
/* line 108, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--requester-items .requester-item .requester-item--info {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1em;
}
/* line 114, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--requester-items .requester-item .requester-item--info .requester-item--name {
  font-size: 1.5em;
  font-weight: 500;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #B5B5B5;
  margin-bottom: 0;
}
/* line 121, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--requester-items .requester-item .requester-item--info .requester-item--value {
  font-size: 1.75em;
  margin-top: 0.5em;
}
/* line 127, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--requester-items .residual {
  text-align: center;
  background-color: #F3F3F3;
  padding: 1em 2em;
  margin: 0 0.5em 1em 0.5em;
  border-radius: 0.3em;
  border-left: 6px solid #FFDD47;
}
/* line 134, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--requester-items .residual h3 {
  font-size: 2.5em;
  margin: auto;
}
/* line 140, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--action-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 0.6em;
  margin-bottom: 1em;
}
/* line 147, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--action-links .transaction-status {
  font-size: 1.2em;
  padding: 0.5em 0.3em;
  margin: 0.3em 0;
  background-color: #FFDD47;
  border-radius: 0.2em;
  color: #303030;
  font-weight: 600;
  text-transform: uppercase;
}
/* line 156, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--action-links .transaction-status span {
  color: #4888FF;
}
/* line 160, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--action-links .accept:hover, .hs--transaction .hs--transaction-body .hs--action-links .confirm:hover {
  background-color: green;
}
/* line 163, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--action-links .decline:hover {
  background-color: red;
}
/* line 166, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--action-links .counter:hover {
  background-color: #505050;
}
/* line 169, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--action-links .message:hover {
  background-color: #505050;
}
/* line 172, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--action-links .action-link {
  position: relative;
  padding: 0.5em 1em;
  margin: 0.3em 0;
  background-color: #4888FF;
  border-radius: 0.2em;
  text-align: center;
  transition: all 0.2s cubic-bezier(0.95, 0.35, 0.04, 1.65);
}
/* line 180, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--action-links .action-link:hover, .hs--transaction .hs--transaction-body .hs--action-links .action-link:focus {
  margin: 0.3em 0.6em;
}
/* line 183, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--action-links .action-link a {
  color: white;
  text-decoration: none;
}
/* line 186, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--action-links .action-link a::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 195, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--action-links .action-link img {
  width: 1.2em;
}
/* line 200, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--responder-items {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1em 0.2em;
}
/* line 205, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--responder-items .responder-item--link:hover {
  text-decoration: none;
}
/* line 208, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--responder-items .wants {
  position: relative;
  font-size: 1.5em;
  font-weight: 400;
  color: white;
  margin: 0 1em;
  padding: 0.2em 1em;
  width: auto;
  background-color: #4888FF;
  border-radius: 0.3em 0.3em 0 0;
}
/* line 218, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--responder-items .wants a {
  color: white;
}
/* line 220, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--responder-items .wants a:hover {
  color: #B5B5B5;
}
/* line 225, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--responder-items .responder-item {
  display: flex;
  align-items: center;
  justify-content: right;
  background-color: #F3F3F3;
  padding: 1em 0.5em;
  margin: 0 0.5em 1em 0.5em;
  border-radius: 0.3em;
  border-right: 6px solid #808080;
  transition: all 0.2s;
}
/* line 235, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--responder-items .responder-item:hover {
  box-shadow: 1px 1px 10px #B5B5B5;
  transform: translateY(-0.3em);
}
/* line 239, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--responder-items .responder-item .responder-item--image {
  position: relative;
  flex-basis: 30%;
  background-color: white;
  border: 1px solid #B5B5B5;
}
/* line 244, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--responder-items .responder-item .responder-item--image:before {
  content: '';
  display: block;
  padding-bottom: 100%;
}
/* line 249, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--responder-items .responder-item .responder-item--image .image-spacer {
  position: absolute;
  inset: 0;
}
/* line 252, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--responder-items .responder-item .responder-item--image .image-spacer img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
/* line 259, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--responder-items .responder-item .responder-item--info {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0 1em;
}
/* line 266, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--responder-items .responder-item .responder-item--info .responder-item--name {
  width: 100%;
  text-align: right;
  font-size: 1.5em;
  font-weight: 500;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #B5B5B5;
  margin-bottom: 0;
}
/* line 275, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--responder-items .responder-item .responder-item--info .responder-item--value {
  font-size: 1.75em;
  margin-top: 0.5em;
}
/* line 281, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--responder-items .residual {
  text-align: center;
  background-color: #F3F3F3;
  padding: 1em 2em;
  margin: 0 0.5em 1em 0.5em;
  border-radius: 0.3em;
  border-right: 6px solid #FFDD47;
}
/* line 288, ../sass/hs-transactions.scss */
.hs--transaction .hs--transaction-body .hs--responder-items .residual h3 {
  font-size: 2.5rem;
  margin: auto;
}

/*Styling for transactions END*/
/*Styling for user transaction view START*/
/* line 299, ../sass/hs-transactions.scss */
.hs--no-transactions {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.7em;
  padding: 10% 20%;
  border-radius: 0.3em;
  border-left: 0.4em solid #4888FF;
  border-right: 0.4em solid #4888FF;
  box-shadow: 2px 2px 5px #B5B5B5;
}

/* line 309, ../sass/hs-transactions.scss */
.hs--transactions-tabs {
  display: flex;
  padding: 0 1em;
}
/* line 312, ../sass/hs-transactions.scss */
.hs--transactions-tabs .hs--incoming--label {
  flex: 1;
  color: #505050;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 600;
  padding: 0.2em 0;
  margin-bottom: 0;
  background-color: #F3F3F3;
  border-radius: 0.3em 0 0 0;
  transition: all 0.25s cubic-bezier(0.95, 0.35, 0.04, 1.65), filter 0.15s linear;
}
/* line 323, ../sass/hs-transactions.scss */
.hs--transactions-tabs .hs--incoming--label:hover {
  cursor: pointer;
  filter: brightness(0.9);
}
/* line 327, ../sass/hs-transactions.scss */
.hs--transactions-tabs .hs--incoming--label.active {
  background-color: #4888FF;
  color: white;
}
/* line 331, ../sass/hs-transactions.scss */
.hs--transactions-tabs .hs--incoming--label span {
  background-color: white;
  color: #505050;
  border-radius: 0.2em;
  display: inline-block;
  line-height: 1em;
  min-width: 1.5em;
  padding: 0.1em 0.3em;
  box-shadow: 0 0 3px #B5B5B5 inset;
}
/* line 342, ../sass/hs-transactions.scss */
.hs--transactions-tabs .hs--outgoing--label {
  flex: 1;
  color: #505050;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  background-color: #F3F3F3;
  border-radius: 0 0.3em 0 0;
  padding: 0.2em 0;
  margin-bottom: 0;
  transition: all 0.25s cubic-bezier(0.95, 0.35, 0.04, 1.65), filter 0.15s linear;
}
/* line 353, ../sass/hs-transactions.scss */
.hs--transactions-tabs .hs--outgoing--label:hover {
  cursor: pointer;
  filter: brightness(0.9);
}
/* line 357, ../sass/hs-transactions.scss */
.hs--transactions-tabs .hs--outgoing--label.active {
  background-color: #4888FF;
  color: white;
}
/* line 361, ../sass/hs-transactions.scss */
.hs--transactions-tabs .hs--outgoing--label span {
  background-color: white;
  color: #505050;
  border-radius: 0.2em;
  display: inline-block;
  line-height: 1em;
  min-width: 1.5em;
  padding: 0.1em 0.3em;
  box-shadow: 0 0 3px #B5B5B5 inset;
}

/* line 373, ../sass/hs-transactions.scss */
.hs--outgoing-container {
  display: none;
  margin-bottom: 6rem;
}

/* line 377, ../sass/hs-transactions.scss */
.hs--incoming-container {
  margin-bottom: 6rem;
}

@media (max-width: 767.8px) {
  /* line 381, ../sass/hs-transactions.scss */
  .hs--transactions-tabs {
    flex-direction: column;
  }
  /* line 383, ../sass/hs-transactions.scss */
  .hs--transactions-tabs .hs--incoming--label {
    border-radius: 0.3em 0.3em 0 0;
  }
  /* line 386, ../sass/hs-transactions.scss */
  .hs--transactions-tabs .hs--outgoing--label {
    border-radius: 0;
  }
}
/*Styling for user transaction view END*/
