/* Home Page Specific Styling*/
/* line 5, ../sass/homepage.scss */
#about-p2 .hs-card {
  padding: 1em;
  border-radius: 0.5em;
  min-height: 700px;
  max-height: 700px;
  border-bottom: 0.7em solid #FFDD47;
  margin-bottom: 25px;
  transition: all 0.4s ease;
}
/* line 13, ../sass/homepage.scss */
#about-p2 .hs-card:hover {
  box-shadow: 1px 20px 30px rgba(0, 0, 0, 0.4);
  transform: translateY(-20px);
}
/* line 17, ../sass/homepage.scss */
#about-p2 .hs-card img {
  width: 100%;
  padding: 2em;
  object-fit: contain;
  max-height: 385px;
}

/* line 26, ../sass/homepage.scss */
#beta-testing .content-wrapper .field--name-field-paragraph-content {
  height: 100%;
  padding: 2rem 3rem;
}
