@charset "UTF-8";
ul.nav, ul.navbar-nav {
  display: flex;
  flex-direction: row;
}
@media (max-width: 767.8px) {
  ul.nav, ul.navbar-nav {
    flex-direction: column;
  }
}

.nav-link {
  color: #4888FF;
}

li.nav-item {
  position: relative;
  display: block;
  height: fit-content;
  width: fit-content;
  line-height: 0;
  padding: 0.5em 2em;
  margin: 0 0.2em;
  border-radius: 0.4rem;
  border: 2px solid #F3F3F3;
  transition: all 0.15s ease;
}
li.nav-item::before {
  content: "";
  position: absolute;
  top: 95%;
  right: 50%;
  bottom: -5%;
  left: 50%;
  transition: left 0.15s ease, right 0.15s ease;
  background-color: #FFDD47;
  border-radius: 2px;
}
li.nav-item:hover {
  background-color: #F3F3F3;
  border: 2px solid #F3F3F3;
}
li.nav-item:hover::before {
  left: 10%;
  right: 10%;
}
li.nav-item .nav-link {
  font-weight: 600;
}
@media (max-width: 767.8px) {
  li.nav-item {
    margin-top: 0.4rem;
    width: 18rem;
    text-align: center;
  }
}

.nav-item.link-icon .nav-link {
  position: absolute;
  inset: 0;
}
.nav-item.link-icon img {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0;
}

.nav-item.link-text {
  line-height: 1.5rem;
  padding: 0;
}
.nav-item.link-text .nav-link {
  padding: 0.5em 1em;
  display: block;
  margin: 0;
  color: #4888FF;
  text-transform: uppercase;
}

.nav-item.link-full {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1em;
}
.nav-item.link-full img {
  height: 1.5rem;
  margin: 0;
}
.nav-item.link-full .nav-link {
  display: block;
  height: auto;
  line-height: 1em;
  padding: 0;
  margin-left: 0.5em;
  color: #4888FF;
  text-transform: uppercase;
}
.nav-item.link-full .nav-link::after {
  content: "";
  position: absolute;
  inset: 0;
}

#about-p2 .hs-card {
  padding: 1em;
  border-radius: 0.5em;
  min-height: 700px;
  max-height: 700px;
  border-bottom: 0.7em solid #FFDD47;
  margin-bottom: 25px;
  transition: all 0.4s ease;
}
#about-p2 .hs-card:hover {
  box-shadow: 1px 20px 30px rgba(0, 0, 0, 0.4);
  transform: translateY(-20px);
}
#about-p2 .hs-card img {
  width: 100%;
  padding: 2em;
  object-fit: contain;
  max-height: 385px;
}

#beta-testing .content-wrapper .field--name-field-paragraph-content {
  height: 100%;
  padding: 2rem 3rem;
}

#hobbycredit {
  min-height: 40rem;
}
#hobbycredit .tabbed-content .tabs {
  margin: 1rem 0;
  border: 1px solid white;
}
#hobbycredit .tabbed-content .tabs .tab {
  margin-bottom: 0;
  padding: 0.7rem 0;
  border-radius: 0;
  transition: all 0.3s linear;
  position: relative;
}
#hobbycredit .tabbed-content .tabs .tab.active {
  color: #303030;
  background-color: #F3F3F3;
}

#subscriptions .subscription-card {
  background-color: #F3F3F3;
  border-radius: 0.5rem;
  border-bottom: 0.7rem solid #FFDD47;
  margin: 0 3rem;
  margin-bottom: 2rem;
  padding: 2.5rem;
  transition: all 0.4s ease;
}
#subscriptions .subscription-card:hover {
  box-shadow: 1px 20px 30px rgba(0, 0, 0, 0.4);
  transform: translateY(-20px);
}
#subscriptions .subscription-card h2 {
  margin: 1rem 0 0 0;
  color: #303030;
  font-weight: bold;
}
#subscriptions .subscription-card h5 {
  color: #303030;
  border-bottom: 1px solid #808080;
  padding-bottom: 1.5rem;
}
#subscriptions .subscription-card ul {
  width: fit-content;
  margin: auto;
  padding-left: 0;
}
#subscriptions .subscription-card ul li {
  list-style: none;
  font-size: 1.5rem;
}
#subscriptions .subscription-card ul li::before {
  content: "✓ ";
  color: seagreen;
}

#why-subscriptions .subscription-accordion {
  display: flex;
  flex-direction: column;
  border-left: 0.7rem solid #FFDD47;
  border-radius: 0.5rem;
  background-color: #F3F3F3;
}
#why-subscriptions .subscription-accordion .accordion-fold {
  position: relative;
  padding: 1rem 0 2rem 0;
  transition: all 0.3s ease;
}
#why-subscriptions .subscription-accordion .accordion-fold::before {
  content: "";
  position: absolute;
  inset: 100% 0 -10px 0;
  background: linear-gradient(to bottom, #B5B5B5, transparent);
}
#why-subscriptions .subscription-accordion .accordion-fold::after {
  content: "";
  position: absolute;
  inset: 0;
}
#why-subscriptions .subscription-accordion .accordion-fold h3 {
  color: #303030;
  text-align: center;
  padding: 0.7rem 0;
  margin-bottom: 0;
}
#why-subscriptions .subscription-accordion .accordion-fold p {
  color: #808080;
  padding: 0 5vw;
  height: 0;
  margin: 0;
  overflow-y: hidden;
  transition: height 0.3s ease;
}
#why-subscriptions .subscription-accordion .accordion-fold:last-child {
  border: none;
}
#why-subscriptions .subscription-accordion .accordion-fold:last-child::before {
  background: none;
}
#why-subscriptions .subscription-accordion .accordion-fold.active p {
  height: fit-content;
}

#faq .question {
  border-left: 0.7rem solid #505050;
  background-color: #F3F3F3;
  border-radius: 0.6rem;
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
}
#faq .question p:first-child {
  color: #303030;
  font-weight: bold;
  margin: 1rem 0 0 0;
}

@media (max-width: 767.8px) {
  #meet-the-team h2 {
    margin-bottom: 3rem;
  }
}
#meet-the-team .employee-card {
  display: flex;
  align-items: center;
  max-height: 10rem;
  margin-bottom: -2rem;
}
@media (max-width: 767.8px) {
  #meet-the-team .employee-card {
    margin-bottom: 2.5rem;
  }
}
#meet-the-team .employee-card.right {
  justify-content: right;
  flex-direction: row-reverse;
}
#meet-the-team .employee-card.right .info {
  text-align: right;
  margin-right: 0.7rem;
}
#meet-the-team .employee-card.left {
  justify-content: left;
}
#meet-the-team .employee-card.left .info {
  margin-left: 0.7rem;
}
#meet-the-team .employee-card img {
  border: 0.4rem solid white;
  border-radius: 100vmax;
  height: 10rem;
  width: 10rem;
}
@media (max-width: 767.8px) {
  #meet-the-team .employee-card img {
    height: 6rem;
    width: 6rem;
  }
}

.hs-color-blue {
  color: #4888FF;
}

.hs-color-yellow {
  color: #FFDD47;
}

.hs-color-gray1 {
  color: #F3F3F3;
}

.hs-color-gray2 {
  color: #B5B5B5;
}

.hs-color-gray3 {
  color: #808080;
}

.hs-color-gray4 {
  color: #505050;
}

.hs-color-black {
  color: #303030;
}

.hs-bg-blue {
  background-color: #4888FF;
  color: white;
}

.hs-bg-yellow {
  background-color: #FFDD47;
  color: #505050;
}

.hs-bg-gray1 {
  background-color: #F3F3F3;
  color: #303030;
}

.hs-bg-gray2 {
  background-color: #B5B5B5;
  color: white;
}

.hs-bg-gray4 {
  background-color: #505050;
  color: white;
}

.hs-bg-black {
  background-color: #303030;
  color: white;
}

.hs-bg-black-t {
  background-color: rgba(48, 48, 48, 0.8666666667);
  color: white;
}

.hs-bg-white {
  background-color: white;
  color: #808080;
}

html {
  font-size: 87.5%;
}

body {
  font-size: 1em;
  line-height: 1.85714286em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  color: #808080;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  letter-spacing: 0.027em;
}

a {
  color: #4888FF;
  text-decoration: none;
}
a:hover {
  color: #808080;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.9rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.65rem;
}

p {
  font-size: 1rem;
}

.h1-responsive {
  font-size: 2.09rem;
}
@media (min-width: 576px) {
  .h1-responsive {
    font-size: 2.46rem;
  }
}
@media (min-width: 768px) {
  .h1-responsive {
    font-size: 2.89rem;
  }
}
@media (min-width: 992px) {
  .h1-responsive {
    font-size: 3.4rem;
  }
}
@media (min-width: 1200px) {
  .h1-responsive {
    font-size: 4rem;
  }
}

.h2-responsive {
  font-size: 1.51rem;
}
@media (min-width: 576px) {
  .h2-responsive {
    font-size: 1.78rem;
  }
}
@media (min-width: 768px) {
  .h2-responsive {
    font-size: 2.1rem;
  }
}
@media (min-width: 992px) {
  .h2-responsive {
    font-size: 2.47rem;
  }
}
@media (min-width: 1200px) {
  .h2-responsive {
    font-size: 2.9rem;
  }
}

.h3-responsive {
  font-size: 1.25rem;
}
@media (min-width: 576px) {
  .h3-responsive {
    font-size: 1.47rem;
  }
}
@media (min-width: 768px) {
  .h3-responsive {
    font-size: 1.73rem;
  }
}
@media (min-width: 992px) {
  .h3-responsive {
    font-size: 2.04rem;
  }
}
@media (min-width: 1200px) {
  .h3-responsive {
    font-size: 2.4rem;
  }
}

.h4-responsive {
  font-size: 1.2rem;
}
@media (min-width: 576px) {
  .h4-responsive {
    font-size: 1.22rem;
  }
}
@media (min-width: 768px) {
  .h4-responsive {
    font-size: 1.44rem;
  }
}
@media (min-width: 992px) {
  .h4-responsive {
    font-size: 1.7rem;
  }
}
@media (min-width: 1200px) {
  .h4-responsive {
    font-size: 2rem;
  }
}

.h5-responsive {
  font-size: 1.2rem;
}
@media (min-width: 576px) {
  .h5-responsive {
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) {
  .h5-responsive {
    font-size: 1.3rem;
  }
}
@media (min-width: 992px) {
  .h5-responsive {
    font-size: 1.53rem;
  }
}
@media (min-width: 1200px) {
  .h5-responsive {
    font-size: 1.8rem;
  }
}

.h6-responsive {
  font-size: 1.2rem;
}
@media (min-width: 576px) {
  .h6-responsive {
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) {
  .h6-responsive {
    font-size: 1.2rem;
  }
}
@media (min-width: 992px) {
  .h6-responsive {
    font-size: 1.4rem;
  }
}
@media (min-width: 1200px) {
  .h6-responsive {
    font-size: 1.65rem;
  }
}

.region {
  padding: 0;
}

#navbar-container {
  background-color: white;
  box-shadow: 0 2px 5px rgba(48, 48, 48, 0.5333333333);
  z-index: 100;
  position: relative;
}
#navbar-container .row {
  min-height: 4.5rem;
  align-items: center;
}
#navbar-container .region-navbar {
  display: flex;
  align-items: center;
  justify-content: right;
}
#navbar-container .region-navbar #navbar-slide-toggle {
  height: 3rem;
  padding: 0.5rem;
  border-radius: 7px;
  transition: all 0.15s ease;
}
#navbar-container .region-navbar #navbar-slide-toggle.active {
  box-shadow: 0 0 4px rgba(48, 48, 48, 0.5333333333) inset;
}
#navbar-container .region-navbar #navbar-slide-toggle:hover {
  cursor: pointer;
}
#navbar-container .region-navbar .navbar-content {
  display: flex;
  position: relative;
  align-items: center;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 767.8px) {
  #navbar-container .region-navbar .navbar-content {
    flex-direction: column;
    position: absolute;
    top: 6.5rem;
    right: 0;
    width: 20rem;
    padding: 2rem 0;
    background-color: white;
    box-shadow: 0 0 4px rgba(48, 48, 48, 0.5333333333);
    border-radius: 2px 0 0 2px;
    clip-path: polygon(-10% -10%, 100% -10%, 100% 110%, -10% 110%);
  }
  #navbar-container .region-navbar .navbar-content::after {
    content: "";
    position: absolute;
    height: 0.5rem;
    top: 1rem;
    right: 10%;
    left: 10%;
    border-radius: 0.2rem;
    background-color: #4888FF;
  }
  #navbar-container .region-navbar .hidden {
    clip-path: polygon(100% -10%, 100% -10%, 100% 110%, 100% 110%);
  }
}

#block-hobbyswap-branding .site-logo img {
  margin: 0;
}
#block-hobbyswap-branding .site-title {
  text-transform: none;
  letter-spacing: unset;
}

.paragraph {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}
.paragraph::before {
  content: "";
  position: absolute;
  inset: 0 50% 0 50%;
  margin: 0 -50vw;
  background-color: inherit;
  z-index: -100;
}

.paragraph.paragraph--type--paragraph-image-bg-block {
  position: relative;
  font-size: 1rem;
}
.paragraph.paragraph--type--paragraph-image-bg-block .bg-image-wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
}
.paragraph.paragraph--type--paragraph-image-bg-block .bg-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0;
}
.paragraph.paragraph--type--paragraph-image-bg-block .content-wrapper {
  position: absolute;
  inset: 0;
}
.paragraph.paragraph--type--paragraph-image-bg-block .content-wrapper * {
  margin: 0;
}
.paragraph.paragraph--type--paragraph-image-bg-block .content-wrapper .field {
  padding: 0;
}

.paragraph.paragraph--type--paragraph-image-block {
  padding-left: 0;
  padding-right: 0;
}
.paragraph.paragraph--type--paragraph-image-block .image-wrapper {
  padding: 0;
}
.paragraph.paragraph--type--paragraph-image-block .image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.paragraph.paragraph--type--paragraph-image-block .content-wrapper {
  padding: 4rem 5vw;
}
.paragraph.paragraph--type--paragraph-image-block.image-card .image-wrapper {
  padding: 1rem 5vw;
}
.paragraph.paragraph--type--paragraph-image-block.image-card .image-wrapper img {
  border-radius: 1rem;
  border: 1px solid #B5B5B5;
  object-fit: contain;
}

.hs--hobbycredit-before {
  display: block;
  position: relative;
  width: fit-content;
  color: #FFDD47;
  font-weight: 900;
  line-height: 1em;
  text-shadow: 1px 1px #B5B5B5;
  margin-left: 1em;
  margin-bottom: 0;
}
.hs--hobbycredit-before::before {
  content: "";
  position: absolute;
  left: -2em;
  font-size: 0.5em;
  min-width: 2em;
  min-height: 2em;
  border: 0.32em inset #FFDD47;
  background-color: #505050;
  clip-path: polygon(0% 50%, 50% 0%, 100% 0%, 100% 50%, 50% 100%, 0% 100%);
  transform: rotate(-45deg);
}
.hs--hobbycredit-before::after {
  content: "H";
  position: absolute;
  color: white;
  font-size: 0.5em;
  min-width: 2em;
  text-shadow: none;
  text-align: center;
  left: -2em;
  z-index: 100;
}

.hs--hobbycredit-after {
  display: block;
  position: relative;
  width: fit-content;
  color: #FFDD47;
  font-weight: 900;
  line-height: 1em;
  text-shadow: 1px 1px #B5B5B5;
  margin-right: 1em;
  margin-bottom: 0;
}
.hs--hobbycredit-after::after {
  content: "";
  position: absolute;
  right: -2em;
  font-size: 0.5em;
  min-width: 2em;
  min-height: 2em;
  border: 0.32em inset #FFDD47;
  background-color: #505050;
  clip-path: polygon(0% 50%, 50% 0%, 100% 0%, 100% 50%, 50% 100%, 0% 100%);
  transform: rotate(-45deg);
}
.hs--hobbycredit-after::before {
  content: "H";
  position: absolute;
  color: white;
  font-size: 0.5em;
  min-width: 2em;
  text-shadow: none;
  text-align: center;
  right: -2em;
  z-index: 100;
}

.hs-button-blue {
  display: block;
  color: white;
  background-color: #4888FF;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  width: fit-content;
  font-weight: 600;
  transition: all 0.25s ease;
}
.hs-button-blue:hover, .hs-button-blue:focus {
  background-color: #F3F3F3;
  color: #505050;
  transform: translateY(-0.1em);
  box-shadow: 0 0.3em 10px rgba(0, 0, 0, 0.3);
}

.hs-button-yellow {
  display: block;
  color: #505050;
  background-color: #FFDD47;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  width: fit-content;
  font-weight: 600;
  transition: all 0.25s ease;
}
.hs-button-yellow:hover, .hs-button-yellow:focus {
  background-color: #505050;
  color: white;
  transform: translateY(-0.1em);
  box-shadow: 0 0.3em 10px rgba(0, 0, 0, 0.3);
}

.height-10 {
  height: 10rem;
}

.height-20 {
  height: 20rem;
}

.height-30 {
  height: 30rem;
}

.height-40 {
  height: 40rem;
}

.height-50 {
  height: 50rem;
}

.height-60 {
  height: 60rem;
}

.height-70 {
  height: 70rem;
}

.height-80 {
  height: 80rem;
}

.height-90 {
  height: 90rem;
}

.height-100 {
  height: 100rem;
}

.tabs-wrapper ul {
  justify-content: center;
  border-bottom: 1px solid #B5B5B5;
}
.tabs-wrapper ul .local-task a {
  display: block;
  margin-bottom: -1px;
  padding: 0.5em 1em;
  transition: all 0.2s ease;
}
.tabs-wrapper ul .local-task .nav-link:hover {
  color: #808080;
  border: 1px solid #B5B5B5;
  border-bottom-color: white;
}
.tabs-wrapper ul .local-task .active {
  color: #303030;
  border: 1px solid #B5B5B5;
  border-bottom-color: white;
  border-radius: 0.2em 0.2em 0 0;
}
.tabs-wrapper ul .local-task .dropdown-toggle {
  display: none;
}
@media (max-width: 767.8px) {
  .tabs-wrapper ul .local-task.active {
    z-index: 10;
  }
  .tabs-wrapper ul .local-task a {
    border: 1px solid #F3F3F3;
    border-radius: 0.2em;
  }
  .tabs-wrapper ul .local-task .active {
    border: 1px solid #B5B5B5;
    border-radius: 0.2em;
  }
  .tabs-wrapper ul .local-task .nav-link:hover {
    border: 1px solid #B5B5B5;
  }
}

input.btn, button.btn {
  border: none;
  border-radius: 0.2em;
  font-weight: 600;
  padding: 0.5em 3em;
  margin: auto;
  text-align: center;
  transition: all 0.25s ease;
}
input.btn:hover, button.btn:hover {
  transform: translateY(-0.1em);
  box-shadow: 0 0.3em 10px rgba(0, 0, 0, 0.3);
}

input.btn-blue, input.btn-primary, button.btn-blue, button.btn-primary {
  color: white;
  background-color: #4888FF;
}
input.btn-blue:hover, input.btn-primary:hover, button.btn-blue:hover, button.btn-primary:hover {
  color: #505050;
  background-color: #F3F3F3;
}

input.btn-yellow, input.btn-secondary, button.btn-yellow, button.btn-secondary {
  color: #505050;
  background-color: #FFDD47;
}
input.btn-yellow:hover, input.btn-secondary:hover, button.btn-yellow:hover, button.btn-secondary:hover {
  color: white;
  background-color: #505050;
}

input.btn-gray1, button.btn-gray1 {
  color: #505050;
  background-color: #F3F3F3;
}
input.btn-gray1:hover, button.btn-gray1:hover {
  color: white;
  background-color: #505050;
}

input.btn-gray4, button.btn-gray4 {
  color: white;
  background-color: #505050;
}
input.btn-gray4:hover, button.btn-gray4:hover {
  color: #505050;
  background-color: #F3F3F3;
}

.form-check-input:checked {
  background-color: #4888FF;
  border-color: white;
}

form {
  margin-top: 1.5rem;
}

form.form--widget {
  background-color: #F3F3F3;
  border-radius: 0.2rem;
  padding: 2rem;
}

input.form-submit.is-disabled, button.is-disabled {
  background-color: #B5B5B5;
  color: #808080;
}

a.dropdown-item:focus {
  background-color: #808080;
}

.tabbed-content .tabs {
  display: flex;
  justify-content: center;
  border-radius: 0.4rem;
}
@media (max-width: 767.8px) {
  .tabbed-content .tabs {
    flex-direction: column;
  }
}
.tabbed-content .tabs .tab {
  flex: 1;
  text-align: center;
  font-weight: 400;
}
.tabbed-content .tabs .tab :hover {
  cursor: pointer;
}
.tabbed-content .tabs .tab :first-child {
  border-radius: 0.4rem 0.4rem 0 0;
}
.tabbed-content .tabs .tab :last-child {
  border-radius: 0 0 0.4rem 0.4rem;
}
@media (min-width: 768px) {
  .tabbed-content .tabs .tab :first-child {
    border-radius: 0.4rem 0 0 0.4rem;
  }
  .tabbed-content .tabs .tab :last-child {
    border-radius: 0 0.4rem 0.4rem 0;
  }
}
.tabbed-content .tabs .tab.active {
  font-weight: 500;
}
.tabbed-content .tab-content > * {
  display: none;
}

.alert {
  color: #505050;
  font-size: 1.2rem;
  background-color: white;
}
.alert.alert-status {
  border: 0.3rem solid #009d16;
}
.alert.alert-warning {
  border: 0.3rem solid #ea9804;
}
.alert.alert-error {
  border: 0.3rem solid #c70000;
}

/*# sourceMappingURL=index.css.map */
