<style>

  /*Pre-inlining styling goes here*/

</style>

<div class="mail" style="font-family:Arial">
  <header style="padding: 1.5em; background-color: #4888FF; box-shadow: 1px 1px 4px #303030;">
    <h1 class="email-title"><a href="http://hobby-swap.co" style="color: white;letter-spacing: 0.05em;text-decoration: none;">HobbySwap</a></h1>
    <h2 style="font-size: 0.8em;color: white;">COMPLETED TRADE SUMMARY</h2>
  </header>
  <article style="text-align: center;color: #303030;">
    <div class="email-details">

      <!-- EMAIL CONTENTS GO HERE -->

      <div class="discord-container" style="margin: 2em 25% 1em 25%;padding: 1em;border-radius: 0.2em;background-color: #4888FF;position: relative;">
        <h3 class="discord-info" style="margin: auto;height: fit-content;text-align: center;border-right: 4px solid #FFDD47;border-left: 4px solid #FFDD47;font-weight: 500;padding: 0 0.5em;color: white;">If you haven't already, join our Discord server to see announcements, find out more about HobbySwap, and to be a part of the community</h3>
        <a class="discord-link" href="http://hobby-swap.co/discord" style="display: block;flex: 1;width: fit-content;padding: 0.5em;margin: 0.5em auto 0 auto;text-decoration: none;color: #303030;background-color: white;border-radius: 0.2em;font-size: 2em;font-weight: 800;">JOIN</a>
      </div>
    </div>
  </article>
  <footer style="padding: 1.5em;background-color: #4888FF;text-align: center;">
    <h2 class="email-footer">For more information about HobbySwap, go to <a href="http://hobby-swap.co/about" style="color: white;transition: color 0.2s;">hobby-swap.co/about</a></h2>
  </footer>
</div>



