<div class="mail">
  <header style="padding: 1.5em; background-color: #4888FF; box-shadow: 1px 1px 4px #303030;">
    <h1 class="email-title"><a href="http://hobby-swap.co" style="color: white;letter-spacing: 0.05em;text-decoration: none;">HobbySwap</a></h1>
    <h2 style="font-size: 0.8em;color: white;">BETA PROGRAM</h2>
  </header>
  <article style="text-align: center;color: #303030;">
    <h2 class="email-subheader" style="margin: 2em 10%;padding: 0.5em;width: auto;background-color: green;color: white;border-radius: 0.3em;">Your application has been accepted</h2>
    <h3 class="email-body" style="margin: 2em 10vw;text-align: center;line-height: 1.5em;">After reviewing your application, we have determined that you
      are a great candidate for our beta program! Make sure to read the details below as
      they are crucial to understanding the expectations of the program.
    </h3>
    <div class="email-details">
      <h2 style="text-align: center;margin-bottom: 1em;">Important Details:</h2>
      <ul style="text-align: left;margin: 2em 10vw;">
        <li style="padding: 0.5em 0;">HobbySwap Beta1.0 will officially launch on July 18, 2022, and close on July 23, 2022.
          During that five-day period, hobby-swap.co will be completely open to all beta users.
        </li>
        <li style="padding: 0.5em 0;">As a beta access user, the following is expected: Active and frequent usage of the site,
          feedback relating to user experience and bugs, honest pricing of listed items, at least 10 successful trades,
          and interaction with the HobbySwap community through its Discord server.
        </li>
        <li style="padding: 0.5em 0;">For participating in the beta program, you will be rewarded a free 6 month HobbySwap subscription.
          However, to receive the free subscription, you must fulfill the expectations listed above.
          If your participation is evaluated by a moderator and determined to be insufficient,
          that moderator has the right to withhold your reward.
        </li>
        <li style="padding: 0.5em 0;">While users can facilitate real trades if desired, it is expected that the majority of the trades
          made during the beta will represent fake items. The purpose of the beta program is primarily to test
          the site's functionality and to ensure that no exploitable bugs exist.
        </li>
        <li style="padding: 0.5em 0;">HobbySwap Beta will not require any form of credit card payment. Subscriptions will obviously not
          be required to participate, and as most trades will involve fake items, HobbyCoin will not require a
          real credit card to purchase. It should be noted that all HobbyCoin balances will be reset upon official
          launch, so hoarding HobbyCoin during the beta poses no benefits.
        </li>
        <li style="padding: 0.5em 0;">Any illicit or inappropriate content posted by any user will cause that user to be immediately
          removed from the beta program and to not receive their reward. Users are allowed to appeal the
          moderator's decision, but the decision is ultimately up to the moderator's discretion.
        </li>
        <li style="padding: 0.5em 0;">Feel free to voice all ideas or suggestions in the HobbySwap Discord server. The aim of the
          beta program is to test and improve the platform before official launch, and your input is very
          valuable to us!
        </li>
      </ul>
      <h2 style="text-align: center;margin-bottom: 1em;">Thank you for signing up for the HobbySwap Beta Program!</h2>
      <div class="discord-container" style="margin: 2em 25% 1em 25%;padding: 1em;border-radius: 0.2em;background-color: #4888FF;position: relative;">
        <h3 class="discord-info" style="margin: auto;height: fit-content;text-align: center;border-right: 4px solid #FFDD47;border-left: 4px solid #FFDD47;font-weight: 500;padding: 0 0.5em;color: white;">If you haven't already, join our Discord server to see announcements, find out more about HobbySwap, and to be a part of the community</h3>
        <a class="discord-link" href="http://hobby-swap.co/discord" style="display: block;flex: 1;width: fit-content;padding: 0.5em;margin: 0.5em auto 0 auto;text-decoration: none;color: #303030;background-color: white;border-radius: 0.2em;font-size: 2em;font-weight: 800;">JOIN</a>
      </div>
    </div>
  </article>
  <footer style="padding: 1.5em;background-color: #4888FF;text-align: center;">
    <h2 class="email-footer">For more information about HobbySwap, go to <a href="http://hobby-swap.co/about" style="color: white;transition: color 0.2s;">hobby-swap.co/about</a></h2>
  </footer>
</div>



