<div class="mail" style="padding: 0;margin: 0;font-family: Arial;">
  <header style="padding: 1.5em;margin: 0;background-color: #4888FF;box-shadow: 1px 1px 4px #303030;">
    <h1 class="email-title" style="padding: 0;margin: 0;"><a href="http://hobby-swap.co" style="padding: 0;margin: 0;color: white;letter-spacing: 0.05em;text-decoration: none;">HobbySwap</a></h1>
    <h2 style="padding: 0;margin: 0;font-size: 0.8em;color: white;">BETA PROGRAM</h2>
  </header>
  <article style="padding: 0;margin: 0;text-align: center;color: #303030;">
    <h2 class="email-subheader" style="padding: 0.5em;margin: 2em 10%;width: auto;background-color: #FFDD47;border-radius: 0.3em;">Thank you for submitting your application to HobbySwap's Beta Program!</h2>
    <h3 class="email-body" style="padding: 0;margin: 2em 10em;text-align: left;line-height: 1.5em;">We'll notify you shortly if your application is accepted or rejected for early access testing.
      Don't forget that all early access testers will receive their first 6 months of HobbySwap use for free,
      so make sure to tell your friends about HobbySwap!
    </h3>
    <div class="discord-container" style="padding: 1em;margin: 2em 25% 1em 25%;border-radius: 0.2em;background-color: #4888FF;position: relative;">
      <h3 class="discord-info" style="padding: 0 0.5em;margin: auto;height: fit-content;text-align: center;border-right: 4px solid #FFDD47;border-left: 4px solid #FFDD47;font-weight: 500;color: white;">If you haven't already, join our Discord server to see announcements, find out more about HobbySwap, and to be a part of the community</h3>
      <a class="discord-link" href="http://hobby-swap.co/discord" style="padding: 0.5em;margin: 0.5em auto 0 auto;display: block;flex: 1;width: fit-content;text-decoration: none;color: #303030;background-color: white;border-radius: 0.2em;font-size: 2em;font-weight: 800;">JOIN</a>
    </div>
    <footer style="padding: 1.5em;margin: 0;background-color: #4888FF;">
      <h2 class="email-footer" style="padding: 0;margin: 0;">For more information about HobbySwap, go to <a href="http://hobby-swap.co/about" style="padding: 0;margin: 0;color: white;transition: color 0.2s;">hobby-swap.co/about</a></h2>
    </footer>
  </article>
</div>



