/* line 3, notifications-block.scss */
#hs--notifications {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  margin: 35px;
  width: 112px;
  height: 56px;
  text-align: center;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.16);
}
/* line 16, notifications-block.scss */
#hs--notifications > div {
  position: relative;
  background-color: #4888FF;
  flex: 1;
}
/* line 20, notifications-block.scss */
#hs--notifications > div a::after {
  content: '';
  position: absolute;
  inset: 0;
}
/* line 25, notifications-block.scss */
#hs--notifications > div .notification-icon {
  padding: 14px;
}
/* line 28, notifications-block.scss */
#hs--notifications > div:hover {
  background-color: #2e58a5;
}
/* line 32, notifications-block.scss */
#hs--notifications .transaction-notifications {
  border-radius: 5px 0 0 5px;
  z-index: 10;
}
/* line 35, notifications-block.scss */
#hs--notifications .transaction-notifications::after {
  content: '';
  position: absolute;
  inset: 10% -3% 10% 97%;
  background-color: white;
  border-radius: 100vmax;
}
/* line 42, notifications-block.scss */
#hs--notifications .transaction-notifications .notification-dot {
  position: absolute;
  top: -20%;
  left: -20%;
  display: none;
  border-radius: 100vmax;
  background-color: #FFDD47;
  height: 24px;
  min-width: 24px;
}
/* line 51, notifications-block.scss */
#hs--notifications .transaction-notifications .notification-dot .notification-number {
  color: #505050;
  font-size: 13px;
  font-weight: 800;
  height: fit-content;
  margin: auto;
}
/* line 60, notifications-block.scss */
#hs--notifications .message-notifications {
  border-radius: 0 5px 5px 0;
}
/* line 62, notifications-block.scss */
#hs--notifications .message-notifications .notification-icon {
  padding: 15px;
}
/* line 65, notifications-block.scss */
#hs--notifications .message-notifications .notification-dot {
  position: absolute;
  top: -20%;
  right: -20%;
  display: none;
  border-radius: 100vmax;
  background-color: #FFDD47;
  height: 24px;
  min-width: 24px;
}
/* line 74, notifications-block.scss */
#hs--notifications .message-notifications .notification-dot .notification-number {
  color: #505050;
  font-size: 13px;
  font-weight: 800;
  height: fit-content;
  margin: auto;
}
