<div id="hs--notifications">
  <div class="transaction-notifications">
    <a href="/user/transactions"></a>
    <div class="notification-icon">
      <img src="/sites/default/files/icons/notifications.svg">
    </div>
    <div class="notification-dot">
      <h2 class="notification-number"></h2>
    </div>
  </div>
  <div class="message-notifications">
    <a href="/inbox"></a>
    <div class="notification-icon">
      <img src="/sites/default/files/icons/message.svg">
    </div>
    <div class="notification-dot">
      <h2 class="notification-number"></h2>
    </div>
  </div>
</div>
