/*Styling for page structure START*/
/* line 4, ../sass/private-message-thread.scss */
#private-message-page .private-message-thread > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
@media (max-width: 575.8px) {
  /* line 4, ../sass/private-message-thread.scss */
  #private-message-page .private-message-thread > div {
    justify-content: center;
  }
}

/*Styling for page structure END*/
/*Styling for thread members START*/
/* line 18, ../sass/private-message-thread.scss */
#private-message-page .field--name-members {
  margin: 0.5em 0;
  font-size: 1rem;
  display: flex;
  justify-content: right;
  align-items: center;
}
/* line 24, ../sass/private-message-thread.scss */
#private-message-page .field--name-members .field--label {
  margin-right: 0.5em;
}
/* line 27, ../sass/private-message-thread.scss */
#private-message-page .field--name-members .field__items {
  display: flex;
}
/* line 29, ../sass/private-message-thread.scss */
#private-message-page .field--name-members .field__items .field__item {
  margin-left: 0.5em;
}
/* line 31, ../sass/private-message-thread.scss */
#private-message-page .field--name-members .field__items .field__item a {
  display: block;
  text-decoration: none;
  padding: 0.5em 1em;
  border: 2px solid #F3F3F3;
  border-radius: 0.3em;
  transition: all 0.2s ease;
}
/* line 38, ../sass/private-message-thread.scss */
#private-message-page .field--name-members .field__items .field__item a:hover {
  background-color: #F3F3F3;
  color: #505050;
}

/*Styling for thread members END*/
/*Styling for load previous link START*/
/* line 49, ../sass/private-message-thread.scss */
#load-previous-messages-button-wrapper {
  text-align: center;
}
/* line 51, ../sass/private-message-thread.scss */
#load-previous-messages-button-wrapper a {
  display: block;
  color: #505050;
  text-decoration: none;
  padding: 0.3em 0.7em;
  border: 2px solid #FFDD47;
  border-radius: 0.5em;
  margin: 1em 5em;
  background-color: #FFDD47;
  transition: all 0.2s cubic-bezier(0.95, 0.35, 0.04, 1.65);
}
/* line 61, ../sass/private-message-thread.scss */
#load-previous-messages-button-wrapper a:hover {
  margin: 1em 7em;
  background-color: white;
  border: 2px solid #F3F3F3;
  color: #4888FF;
}

/*Styling for load previous link END*/
/*Styling for private messages field START*/
/* line 72, ../sass/private-message-thread.scss */
.private-message-thread-messages {
  flex-basis: 100%;
  border-top: 3px solid #F3F3F3;
}

/* line 76, ../sass/private-message-thread.scss */
#private-message-page .field--name-private-messages {
  font-size: 1rem;
  padding: 2em 0;
}
/* line 80, ../sass/private-message-thread.scss */
#private-message-page .field--name-private-messages .private-message-wrapper .private-message {
  padding: 2px 0;
}
/* line 82, ../sass/private-message-thread.scss */
#private-message-page .field--name-private-messages .private-message-wrapper .private-message > div {
  display: flex;
  align-items: center;
}
/* line 86, ../sass/private-message-thread.scss */
#private-message-page .field--name-private-messages .private-message-wrapper .private-message > div:hover .field--name-created {
  color: #B5B5B5;
}
/* line 91, ../sass/private-message-thread.scss */
#private-message-page .field--name-private-messages .private-message-wrapper .private-message .field--name-message {
  font-weight: 500;
  padding: 1em;
  margin: 0.2rem 0;
  border-radius: 0.5em;
  max-width: 50em;
}
/* line 97, ../sass/private-message-thread.scss */
#private-message-page .field--name-private-messages .private-message-wrapper .private-message .field--name-message * {
  font-size: 1rem;
  margin-bottom: 0;
}
/* line 102, ../sass/private-message-thread.scss */
#private-message-page .field--name-private-messages .private-message-wrapper .private-message .field--name-created {
  flex-shrink: 1;
  color: transparent;
  margin: 0 2em;
  transition: all 0.2s ease;
}
/* line 109, ../sass/private-message-thread.scss */
#private-message-page .field--name-private-messages .private-message-wrapper .private-message-author-other {
  border: none;
}
/* line 111, ../sass/private-message-thread.scss */
#private-message-page .field--name-private-messages .private-message-wrapper .private-message-author-other > div {
  flex-direction: row-reverse;
  justify-content: left;
}
/* line 115, ../sass/private-message-thread.scss */
#private-message-page .field--name-private-messages .private-message-wrapper .private-message-author-other .field--name-message {
  background-color: #F3F3F3;
}
/* line 119, ../sass/private-message-thread.scss */
#private-message-page .field--name-private-messages .private-message-wrapper .private-message-author-self {
  border: none;
}
/* line 121, ../sass/private-message-thread.scss */
#private-message-page .field--name-private-messages .private-message-wrapper .private-message-author-self > div {
  flex-direction: row;
  justify-content: right;
}
/* line 125, ../sass/private-message-thread.scss */
#private-message-page .field--name-private-messages .private-message-wrapper .private-message-author-self .field--name-message {
  background-color: #4888FF;
  color: white;
}
/* line 128, ../sass/private-message-thread.scss */
#private-message-page .field--name-private-messages .private-message-wrapper .private-message-author-self .field--name-message a {
  color: white;
  font-weight: 550;
}

/*Styling for private messages field END*/
/*Styling for private message form START*/
/* line 139, ../sass/private-message-thread.scss */
#private-message-page .private-message-add-form {
  flex-basis: 100%;
  margin-top: 1em;
}
/* line 142, ../sass/private-message-thread.scss */
#private-message-page .private-message-add-form .form-actions {
  text-align: center;
}
/* line 144, ../sass/private-message-thread.scss */
#private-message-page .private-message-add-form .form-actions .form-submit {
  background-color: #4888FF;
  color: white;
  border: none;
  border-radius: 0.2em;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5em 3em;
  margin: auto;
  text-align: center;
  transition: all 0.25s ease;
}
/* line 155, ../sass/private-message-thread.scss */
#private-message-page .private-message-add-form .form-actions .form-submit:hover {
  background-color: #F3F3F3;
  color: #505050;
  transform: translateY(-0.1em);
  box-shadow: 0 0.3em 10px rgba(0, 0, 0, 0.3);
}

/*Styling for private message form START*/
/*Styling for delete thread link START*/
/* line 167, ../sass/private-message-thread.scss */
#private-message-page .private_message_thread_delete_link_wrapper {
  margin-left: 0.5rem;
}
/* line 169, ../sass/private-message-thread.scss */
#private-message-page .private_message_thread_delete_link_wrapper a {
  border: 2px solid red;
  background-color: white;
  display: block;
  width: fit-content;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  color: red;
  text-decoration: none;
  transition: all 0.2s ease;
}
/* line 179, ../sass/private-message-thread.scss */
#private-message-page .private_message_thread_delete_link_wrapper a:hover {
  background-color: red;
  color: white;
}

/*Styling for delete thread link END*/
